<button style="
  background-color: #4569F7 !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  border-radius: 9999px !important;
">Okay</button>

<button class="bg-blue txt-s txt-bold round-full">Okay</button>
